*.pyc
.vscode
*.ipynb
slurm-*.out
wandb

# Ignore cuda toolkit
cuda_12.6.3_560.35.05_linux.run

# Ignore Output directories
apps/mtp/fineweb_checkpoint/
apps/mtp/fineweb_llama_output/
apps/mtp/lr_1e-3
apps/mtp/llama*
apps/main/ntp_llama_128
apps/mtp/ntp_llama

upload
llama_model
metrics
example_model
apps/mtp/dump
huggingface
llama_128_hf
llama_causal_128_15300
llama_sequence_128_15300
ntp_llama_128
dump

# Ignore Data Directories
babylm_data
babylm_data_clean
babylm_data_json
babylm_data_json_4096
data_fineweb
shuffle_babylm.py
# Ignore Python cache directories
__pycache__/
