*.pyc
.vscode
*.ipynb
slurm-*.out
wandb

# Ignore cuda toolkit
cuda_12.6.3_560.35.05_linux.run

# Ignore Output directories
apps/mtp/fineweb_checkpoint/
apps/mtp/fineweb_llama_output/
apps/mtp/lr_1e-3
apps/mtp/llama_babylm_small
apps/mtp/llama_babylm

# Ignore Data Directories
babylm_data
babylm_data_clean
babylm_data_json
babylm_data_json_4096
data_fineweb
shuffle_babylm.py
# Ignore Python cache directories
__pycache__/
